.dragUpdataPage{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.dragUpdata{
    height: 100%;
    width: 100%;
    position: absolute;
}
.downDragBox{
    width: 100%;
    top: 0px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
}
.upDragBox{
    bottom: 0px;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
}
.downText{
    margin-left: 20px;
}